@import "tailwindcss";
@import "tailwindcss-primeui";
@reference "tailwindcss";


.layout-wrapper {
    padding: 1rem;
}

.navbar {
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 1600px) {
    .navbar {
        max-width: 1400px;
        width: unset;
    }
}

.normal-container.no-bg {
    background-color: transparent;
}

body {
    background-color: var(--p-surface-300);
}

.normal-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
    background-color: var(--p-surface-100);
    border-radius: 1em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    text-decoration: underline;
}

.markdown h1 {
    @apply text-2xl font-bold mb-2;
}

.markdown h2 {
    @apply text-xl font-bold mt-3 mb-2;
}

.markdown h3 {
    @apply text-lg font-bold mt-2 mb-2;
}

.markdown h4 {
    @apply text-base font-bold mb-2;
}

.markdown h5 {
    @apply text-sm font-bold mb-2;
}

.markdown h6 {
    @apply text-xs font-bold mb-2;
}

.markdown li {
    @apply list-disc list-inside;
}